[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
torch = "*"
numpy = "*"
sklearn = "*"
tqdm = "*"
scipy = "*"
tensorboardx = "*"
fire = "*"
tensorflow = "*"
librosa = "*"
prefetch-generator = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
